<a href="https://colab.research.google.com/github/StasKonkin/ML-labs-from-the-Uni-course/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats.stats as scp

data = pd.read_csv('titanic.csv')

print("Men & Women")

n_male = data[data.Sex == 'male'].shape[0]
n_female = data[data.Sex == 'female'].shape[0]
print(n_male, n_female)

Men & Women
577 314

In [ ]:
print("Survived")

p_surv = data['Survived'].sum() / data.shape[0] * 100
p_surv = round(p_surv, 2)
print(p_surv)

Survived
38.38

In [ ]:
print("1st Class passengers")

p_fclass = data[data.Pclass == 1].shape[0] / data.shape[0] * 100
p_fclass = round(p_fclass, 2)
print(p_fclass)

1st Class passengers
24.24

In [ ]:
print("Average & Median age")

avg_age = data['Age'].mean()
avg_age = round(avg_age, 2)
mdn_age = data['Age'].median()
print(avg_age, mdn_age)

Average & Median age
29.7 28.0

In [ ]:
print("Cor Pearson")

cor_sib_par = scp.pearsonr(data['SibSp'], data['Parch'])
print(cor_sib_par)

Cor Pearson
(0.4148376986201561, 2.2418236681384912e-38)

In [ ]:
print("Most popular women name")

f_name = data['Name'][data.Sex == 'female']
for i in range(n_female):
    f_name.iloc[i] = f_name.iloc[i][f_name.iloc[i].find(".") + 2 : ]
    while(f_name.iloc[i].find("\"") != -1):
        f_name.iloc[i] = f_name.iloc[i][ : f_name.iloc[i].find("\"") - 1] + f_name.iloc[i][f_name.iloc[i].rfind("\"") + 1 : ]
    if(f_name.iloc[i].find("(") != -1):
         f_name.iloc[i]= f_name.iloc[i][ : f_name.iloc[i].find("(") ] + f_name.iloc[i][f_name.iloc[i].find("(") + 1 : ]
    if(f_name.iloc[i].find(")") != -1):
         f_name.iloc[i]= f_name.iloc[i][ : f_name.iloc[i].find(")")]

print(f_name)

Most popular women name
1      John Bradley Florence Briggs Thayer
2                                    Laina
3              Jacques Heath Lily May Peel
8        Oscar W Elisabeth Vilhelmina Berg
9                     Nicholas Adele Achem
                      ...
880           William Imanita Parrish Hall
882                           Gerda Ulrika
885                William Margaret Norton
887                         Margaret Edith
888                        Catherine Helen
Name: Name, Length: 314, dtype: object

In [ ]:
list_name = pd.DataFrame({'Name':['<blanck>']})
j = 0
for i in range(n_female):
    if(f_name.iloc[i].find(" ") == -1):
        list_name.loc[j] = f_name.iloc[i]
        j = j + 1
    else:
        while(f_name.iloc[i].find(" ") != -1):
            if(len(f_name.iloc[i][ : f_name.iloc[i].find(" ")]) > 2):
                list_name.loc[j] = f_name.iloc[i][ : f_name.iloc[i].find(" ")]
                j = j + 1
            f_name.iloc[i] = f_name.iloc[i][f_name.iloc[i].find(" ") + 1 : ]

print(list_name)

          Name
0         John
1      Bradley
2     Florence
3       Briggs
4        Laina
..         ...
538      Gerda
539    William
540   Margaret
541   Margaret
542  Catherine

[543 rows x 1 columns]

In [ ]:
group_list_name = list_name.groupby('Name')['Name'].count()
max_count = group_list_name.iloc[0]
pop_name = group_list_name.index[0]

for i in range(1, group_list_name.shape[0]):
    if(group_list_name.iloc[i] > max_count):
        max_count = group_list_name.iloc[i]
        pop_name = group_list_name.index[i]

print(pop_name, max_count)

Anna 15